/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  background: #18191a;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.right {
  float: right;
  display: flex;
  align-items: center;
}
.red {
  color: #ff5049 !important;
}
.red-focus:focus {
  border: 1px solid #ff5049 !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6)),
    url(lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.container-flex {
  display: flex;
  justify-content: center;
  width: 60%;
}
.container-flex__box {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  margin: 0.5em;
}
@media only screen and (max-width: 700px) {
  .container-flex {
    display: flex;
    justify-content: space-evenly;
    width: 98%;
  }
  .container-flex__box {
    height: 100px;
    width: 100%;
  }
}

.budget {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.budget__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.budget__value {
  font-weight: 600;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
  padding: 12px;
  text-transform: uppercase;
}

.budget__income {
  background-color: #28b9b5;
}

.budget__expenses {
  background-color: #ff5049;
}

.budget__income--text,
.budget__expenses--text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}

.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
::placeholder {
  color: #b0b3b8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b0b3b8;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b0b3b8;
}
.add {
  padding: 14px;

  background-color: #242526;
}

.add__container {
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: center;
}
.form__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

.form__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .add__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .form__top {
    margin-bottom: 0.875em;
    width: 100%;
    justify-content: space-between;
  }
  .form__bottom {
    justify-content: space-between;
    width: 100%;
  }
}

.add__type {
  width: 55px;
  border: 1px solid transparent;
  height: 44px;
  font-size: 18px;
  color: inherit;
  background-color: #3a3b3c;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
  border-radius: 5px;
  color: #b0b3b8;
}

.add__description,
.add__value {
  border: 1px solid transparent;
  background-color: #3a3b3c;
  color: #b0b3b8;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 400px;
}
.add__value {
  width: 100px;
}
@media only screen and (max-width: 700px) {
  .add__description {
    width: 100%;
    margin-right: 0;
  }
  .add__value {
    width: 100%;
  }
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid #28b9b5;
}

.add__btn:focus {
  outline: none;
}

.icon__btn {
  border: 3px solid #3a3b3c;
  border-radius: 50%;
  padding: 4px;
}

/***** LISTS *****/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
.subcontainer {
  min-height: 150px;
  background: #242526;
  border-radius: 20px;
  padding: 1em 1em 1em;
  margin: 1em;
}

.income {
  width: 100%;
}

.expenses {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.icome__title {
  color: #28b9b5;
}
.expenses__title {
  color: #ff5049;
}

.item {
  padding: 13px 5px;
  height: 50px;
  border-top: 1px solid #18191a;
}

/* .item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #f7f7f7;
} */

.item__description {
  float: left;
  color: white;
}

.item__value {
  float: left;
  transition: transform 0.3s;
}

.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 10px;
  width: 32px;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: #28b9b5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #ff5049;
}

.item__delete {
  float: left;
  height: 22px;
}

.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: #ff5049;
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}
